.navBar{
    display: flex;
    padding: 2rem;

}
.menuBar{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
}
.menuBar li {
    padding: 1rem 2rem;
    background-color: #f1f1f1;
    border-radius: 2px;
}
.menuBar li:hover {
    padding: 1rem 2rem;
    color: #fff;
    background-color: #535bf2;
    border-radius: 2px;
}
.logoContainer{
    font-size: 2em;
}
.logoContainer a:hover{
    color: #f1f1f1;
}